<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutak.orm.mapper.GroupSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yutak.orm.domain.GroupSetting">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="group_no" property="groupNo" />
        <result column="remark" property="remark" />
        <result column="mute" property="mute" />
        <result column="top" property="top" />
        <result column="show_nick" property="showNick" />
        <result column="save" property="save" />
        <result column="chat_pwd_on" property="chatPwdOn" />
        <result column="revoke_remind" property="revokeRemind" />
        <result column="join_group_remind" property="joinGroupRemind" />
        <result column="screenshot" property="screenshot" />
        <result column="receipt" property="receipt" />
        <result column="version" property="version" />
        <result column="flame" property="flame" />
        <result column="flame_second" property="flameSecond" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
