<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutak.orm.mapper.MessageExtraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yutak.orm.domain.MessageExtra">
        <id column="id" property="id" />
        <result column="message_id" property="messageId" />
        <result column="message_seq" property="messageSeq" />
        <result column="channel_id" property="channelId" />
        <result column="channel_type" property="channelType" />
        <result column="from_uid" property="fromUid" />
        <result column="revoke" property="revoke" />
        <result column="revoker" property="revoker" />
        <result column="clone_no" property="cloneNo" />
        <result column="version" property="version" />
        <result column="readed_count" property="readedCount" />
        <result column="is_deleted" property="isDeleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="content_edit" property="contentEdit" />
        <result column="content_edit_hash" property="contentEditHash" />
        <result column="edited_at" property="editedAt" />
    </resultMap>

</mapper>
