<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutak.orm.mapper.RobotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yutak.orm.domain.Robot">
        <id column="id" property="id" />
        <result column="robot_id" property="robotId" />
        <result column="token" property="token" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="inline_on" property="inlineOn" />
        <result column="placeholder" property="placeholder" />
        <result column="username" property="username" />
        <result column="app_id" property="appId" />
    </resultMap>

</mapper>
