<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutak.orm.mapper.SendHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yutak.orm.domain.SendHistory">
        <id column="id" property="id" />
        <result column="receiver" property="receiver" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_channel_type" property="receiverChannelType" />
        <result column="sender" property="sender" />
        <result column="sender_name" property="senderName" />
        <result column="handler_uid" property="handlerUid" />
        <result column="handler_name" property="handlerName" />
        <result column="content" property="content" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
