<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutak.orm.mapper.UserOnlineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yutak.orm.domain.UserOnline">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="device_flag" property="deviceFlag" />
        <result column="last_online" property="lastOnline" />
        <result column="last_offline" property="lastOffline" />
        <result column="online" property="online" />
        <result column="version" property="version" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
